* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  
}
#root{
    background-color: rgb(159, 188, 226);

}
body {
  font-family: sans-serif;
  background-color: #eeeeee;
  margin: 2rem;
}

.fix-new {
  font-size: 10px !important;
  
}

.container {
  flex-direction: unset;
  display: flex;
}

@media screen and (max-width: 840px) {
  .container {
    flex-direction: column-reverse;
  }
  .form-box {
    margin-right: 0rem;
    margin-top: 1rem;
  }
}
.btn{
    background-color: darkblue;
}
.card{
    margin-left: 50px!important;
    -webkit-box-shadow: 0 30px 50px rgba(0,0,0,.2);
box-shadow: 0 30px 50px rgba(0,0,0,.2)!important;


}
.card-new {
    margin-left: 50px;
  background: url(./7.jpeg) !important;
  -webkit-box-shadow: 0 30px 50px rgba(0,0,0,.2);
box-shadow: 0 30px 50px rgba(0,0,0,.2);
margin-left: 40%;


}
.card-fix{
    -webkit-box-shadow: 0 30px 50px rgba(0,0,0,.2);
box-shadow: 0 30px 50px rgba(0,0,0,.2);
height: fit-content;
width: 0px;



}



.input-text {
  border: 1px solid #dddddd;
  background: #f8f8f8;
  padding: 0 1rem;
  line-height: 2.5rem;
  font-size: 1.1rem;
  border-radius: 0.1rem;
  width: 100%;
  margin: 1rem 0;
  color: #666666;
}

.btn {
  padding: 1rem 1rem;
  border: 0;
  background: #1496d3;
  color: #ffffff;
  width: 100%;
  font-size: 1.1rem;
  margin-top: 1rem;
}



.flex-wrapper {
  display: flex;
  
}

.flex-wrapper div {
  margin-right: 2rem;
}

.error {
  background-color: rgb(247, 144, 144);
}
.h5{
    font-size: medium;
    color: rebeccapurple;
}
.valid-thru {
    margin-left: 100px;
}
.card-brand {
    top:5px;
}
.chip{
    background: url(./chip.png) !important;
}
form {
    width: 60%;
    margin: 60px auto;
    background: #efefef;
    padding: 60px 120px 80px 120px;
    -webkit-box-shadow: 5px 5px 3px rgba(0,0,0,0.1);
    box-shadow: 5px 5px 3px rgba(0,0,0,0.1);
    border-radius: 20px;

  }
  